.group {
  width: 100%;


  .label {
    user-select: none;


    white-space: nowrap;
    cursor: pointer;
    width: 100%;
    height: 100%;


    .background {
      background-color: var(--input-bg);
      padding-inline: 7px 14px;
      border: 1px solid var(--input-border);
      display: inline-block;
      margin-bottom: 5px;


      .checkboxDisplayContainer {
        width: 20px;
        border-radius: 3px;
        height: 20px;
        display: inline-block;
        vertical-align: top;
        border: 1px solid var(--input-border);
        margin-right: 5px;
      }


      .svg {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-items: center;
        justify-content: center;
        visibility: hidden;
      }


      &.purple {
        color: var(--purple);


        .path {
          fill: var(--purple);
        }
      }


      &.green {
        color: var(--green);


        .path {
          fill: var(--green);
        }
      }


      &.red {
        color: var(--red);


        .path {
          fill: var(--red);
        }
      }


      &.yellow {
        color: var(--yellow);


        .path {
          fill: var(--yellow);
        }
      }


      border-radius: 3px;
      width: calc(100% - 20px);
      padding: 10px;


      .titleContainer {
        display: inline-block;
        margin: 0;
      }


      .description {
        padding-top: 5px;
        margin: 5px 0 0;
        color: var(--header-secondary);
      }
    }


    input:checked + .background .svg {
      visibility: visible;
    }


    input:checked + .background .checkboxDisplayContainer {
      background: #fff;
    }


    input:checked + .background .checkboxDisplayContainer {
      border-color: #00000000;
    }


    input:checked + .background {


      color: #fff;


      &.purple {
        background-color: var(--purple);
        border-color: var(--purple);
      }


      &.green {
        background-color: var(--green);
        border-color: var(--green);
      }


      &.yellow {
        background-color: var(--yellow);
        border-color: var(--yellow);
      }


      &.red {
        background-color: var(--red);
        border-color: var(--red);
      }


      p {
        color: #fff;
      }
    }


    input {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }


  .label + .label {
    padding-top: 10px;
  }
}

